### Emotion Range Analysis
In this phase, we try to do a preliminary exploration of the kinds of emotions we can extract from our datasets, balance the outcomes so that we can increase the accuracy of our predictions.

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [11]:
dataset_1 = pd.read_csv('..\Datasets\Emotion_final.csv')
dataset_2 = pd.read_csv('..\Datasets\Text_emotion.csv')

In [12]:
dataset_1

                                                    Text  Emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
21454               Melissa stared at her friend in dism     fear
21455  Successive state elections have seen the gover...     fear
21456               Vincent was irritated but not dismay     fear
21457  Kendall-Hume turned back to face the dismayed ...     fear
21458                    I am dismayed , but not surpris     fear

[21459 rows x 2 columns]

In [16]:
dataset_1.Emotion.value_counts()

happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
Name: Emotion, dtype: int64

In [18]:
dataset_2.sentiment.value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [20]:
dataset_2 = dataset_2[['content', 'sentiment']]

In [21]:
dataset_2

                                                 content   sentiment
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [22]:
dataset_2.rename(columns={'content': 'Text',
                        'sentiment': 'Emotion'},
                        inplace=True, errors='raise')

C:\Users\ifeol\anaconda3.1\envs\DevEnv\lib\site-packages\pandas\core\frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [23]:
dataset_2

                                                    Text     Emotion
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [24]:
dataset = pd.concat([dataset_1, dataset_2])

In [25]:
dataset

                                                    Text    Emotion
0                                i didnt feel humiliated    sadness
1      i can go from feeling so hopeless to so damned...    sadness
2       im grabbing a minute to post i feel greedy wrong      anger
3      i am ever feeling nostalgic about the fireplac...       love
4                                   i am feeling grouchy      anger
...                                                  ...        ...
39995                                   @JohnLloydTaylor    neutral
39996                     Happy Mothers Day  All my love       love
39997  Happy Mother's Day to all the mommies out ther...       love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...  happiness
39999  @mopedronin bullet train from tokyo    the gf ...       love

[61459 rows x 2 columns]

In [27]:
dataset.Emotion.value_counts()

sadness       11430
neutral        8638
worry          8459
happy          7029
love           5483
happiness      5209
anger          3103
surprise       3066
fear           2652
fun            1776
relief         1526
hate           1323
empty           827
enthusiasm      759
boredom         179
Name: Emotion, dtype: int64