### Emotion Range Analysis
In this phase, we try to do a preliminary exploration of the kinds of emotions we can extract from our datasets, balance the outcomes so that we can increase the accuracy of our predictions.

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
dataset_1 = pd.read_csv('..\Datasets\Emotion_final.csv')
dataset_2 = pd.read_csv('..\Datasets\Text_emotion.csv')

In [3]:
dataset_1

                                                    Text  Emotion
0                                i didnt feel humiliated  sadness
1      i can go from feeling so hopeless to so damned...  sadness
2       im grabbing a minute to post i feel greedy wrong    anger
3      i am ever feeling nostalgic about the fireplac...     love
4                                   i am feeling grouchy    anger
...                                                  ...      ...
21454               Melissa stared at her friend in dism     fear
21455  Successive state elections have seen the gover...     fear
21456               Vincent was irritated but not dismay     fear
21457  Kendall-Hume turned back to face the dismayed ...     fear
21458                    I am dismayed , but not surpris     fear

[21459 rows x 2 columns]

In [4]:
dataset_1.Emotion.value_counts()

happy       7029
sadness     6265
anger       2993
fear        2652
love        1641
surprise     879
Name: Emotion, dtype: int64

In [5]:
dataset_2.sentiment.value_counts()

neutral       8638
worry         8459
happiness     5209
sadness       5165
love          3842
surprise      2187
fun           1776
relief        1526
hate          1323
empty          827
enthusiasm     759
boredom        179
anger          110
Name: sentiment, dtype: int64

In [6]:
dataset_2 = dataset_2[['content', 'sentiment']]

In [7]:
dataset_2

                                                 content   sentiment
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [8]:
dataset_2.rename(columns={'content': 'Text',
                        'sentiment': 'Emotion'},
                        inplace=True, errors='raise')

In [9]:
dataset_2

                                                    Text     Emotion
0      @tiffanylue i know  i was listenin to bad habi...       empty
1      Layin n bed with a headache  ughhhh...waitin o...     sadness
2                    Funeral ceremony...gloomy friday...     sadness
3                   wants to hang out with friends SOON!  enthusiasm
4      @dannycastillo We want to trade with someone w...     neutral
...                                                  ...         ...
39995                                   @JohnLloydTaylor     neutral
39996                     Happy Mothers Day  All my love        love
39997  Happy Mother's Day to all the mommies out ther...        love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...   happiness
39999  @mopedronin bullet train from tokyo    the gf ...        love

[40000 rows x 2 columns]

In [10]:
dataset = pd.concat([dataset_1, dataset_2])

In [11]:
dataset

                                                    Text    Emotion
0                                i didnt feel humiliated    sadness
1      i can go from feeling so hopeless to so damned...    sadness
2       im grabbing a minute to post i feel greedy wrong      anger
3      i am ever feeling nostalgic about the fireplac...       love
4                                   i am feeling grouchy      anger
...                                                  ...        ...
39995                                   @JohnLloydTaylor    neutral
39996                     Happy Mothers Day  All my love       love
39997  Happy Mother's Day to all the mommies out ther...       love
39998  @niariley WASSUP BEAUTIFUL!!! FOLLOW ME!!  PEE...  happiness
39999  @mopedronin bullet train from tokyo    the gf ...       love

[61459 rows x 2 columns]

In [12]:
dataset.Emotion.value_counts()

sadness       11430
neutral        8638
worry          8459
happy          7029
love           5483
happiness      5209
anger          3103
surprise       3066
fear           2652
fun            1776
relief         1526
hate           1323
empty           827
enthusiasm      759
boredom         179
Name: Emotion, dtype: int64

In [13]:
dataset[dataset['Emotion'] == "happiness"] = "happy"

In [14]:
dataset['Emotion'].value_counts()

happy         12238
sadness       11430
neutral        8638
worry          8459
love           5483
anger          3103
surprise       3066
fear           2652
fun            1776
relief         1526
hate           1323
empty           827
enthusiasm      759
boredom         179
Name: Emotion, dtype: int64

In [15]:
dataset.loc[dataset['Emotion'] == 'empty']

                                                    Text Emotion
0      @tiffanylue i know  i was listenin to bad habi...   empty
44     @creyes middle school and elem. High schools w...   empty
52               @djmicdamn hey yu lil fucker i textd yu   empty
141    @softtouchme just answered you- never learned ...   empty
180        Have a headache  I'm going to bed. Goodnight!   empty
...                                                  ...     ...
39702  Here we go again, back to work. Happy Mothers ...   empty
39742  @PhilippaJane the &quot;no pants&quot; idea co...   empty
39749                                  @sloanyxxx Thanks   empty
39845                   @xxxRobyn Yeah *fingers crossed*   empty
39975    @lexia Or even listen to Susan's green policies   empty

[827 rows x 2 columns]

In [16]:
dataset = dataset[dataset.Emotion != 'empty']

In [17]:
dataset.Emotion.value_counts()

happy         12238
sadness       11430
neutral        8638
worry          8459
love           5483
anger          3103
surprise       3066
fear           2652
fun            1776
relief         1526
hate           1323
enthusiasm      759
boredom         179
Name: Emotion, dtype: int64

In [18]:
dataset.head(1)

                      Text  Emotion
0  i didnt feel humiliated  sadness

In [19]:
len(dataset)

60632

In [20]:
split = round(len(dataset) * .8)
train_text = dataset['Text'][:split]
train_emotion = dataset["Emotion"][:split]
test_text = dataset['Text'][split:]
test_emotion = dataset['Emotion'][split:]

In [21]:
training_sentences = []
training_emotions = []
testing_sentences = []
testing_emotions = []

for row in train_text:
  training_sentences.append(str(row))

for row in train_emotion:
  training_emotions.append(str(row))

for row in test_text:
  testing_sentences.append(str(row))

for row in test_emotion:
  testing_emotions.append(str(row))

In [22]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [23]:
tokenizer = Tokenizer(num_words=100, oov_token="<OOV>")
tokenizer.fit_on_texts(training_sentences)

word_index = tokenizer.word_index
max_length
training_sequences = tokenizer.texts_to_sequences(training_sentences)
training_padded = pad_sequences(training_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)
testing_sequences = tokenizer.texts_to_sequences(training_sentences)
testing_padded = pad_sequences(testing_sequences, maxlen=max_length, padding=padding_type, truncating=trunc_type)

NameError: name 'max_length' is not defined

In [ ]:
model = tf.keras.Sequential([
                             tf.keras.layers.Embedding(vocab_size, embedding_dim, input_length=max_length),
                             tf.keras.layers.GlobalAveragePooling1D(),
                             tf.keras.layers.Dense(24, activation='relu'),
                             tf.keras.layers.Dense(1, activation='sigmoid')
])
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
num_epochs = 30
history = model.fit(training_padded, training_emotions, epochs=num_epochs,
                    validation_data=(testing_padded, testing_emotions), verbose=2)

ValueError: ignored